<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CallCenter.Properties.Settings.ConnectionString" connectionString="DATA SOURCE=DESKTOP-EPF4PHT:1521/XE;PASSWORD=123;PERSIST SECURITY INFO=True;USER ID=CALLCENTER"
            providerName="Oracle.ManagedDataAccess.Client" />
        <add name="CallCenter.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>